h1{
    color:darkmagenta;
    justify-content:center;
    padding-left:30px;
    font-size:50px;
}
h2{
    color:red;
}
h3{
    color:lavender;
}
*{
    background-color:yellowgreen;

}
.header{
    display:flex;
    justify-content:center;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
}
.boat{
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    border:solid;
    border-color:yellow;
    border-radius:15px;
    background-color:yellow;
}
.origami{
    display:flex;
    flex-wrap: wrap;
    justify-content:right;
}
.crane{
    border:solid;
    border-color:navy;
    border-radius: 15px;
    background-color:navy;
}
.menu{
    display:flex;
    
    justify-content:space-between;
}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
    color:mediumorchid;
    text-decoration:none;
}
.grid:hover img{
    opacity:0.3;  
}
.origami:hover img{
    opacity:0.3;  
}
.grid:hover{
    transform:scale(1.1);
}.origami:hover{
    transform:scale(1.1);
}
